/*----------------------------------------/
/-----------                   -----------/
/----------------------------------------*/

/*----------                   ----------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: black;
  color: rgb(141, 138, 138);
  font-family: "lato", sans-serif, arial;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

/*----------------------------------------/
/-----------REUSABLE COMPONENTS-----------/
/----------------------------------------*/
.row {
  max-width: 1140px;
  margin: 0 auto 0 auto;
}

section {
  padding: 80px 0;
}

.box {
  padding: 1%;
}

/*----------------HEADING----------------*/
h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1 {
  margin-bottom: 25px;
  color: rgb(255, 255, 255);
  font-size: 150%;
  word-spacing: 4px;
}

h2 {
  font-size: 130%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 25px;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #009432;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}
/*----------------BUTTONS----------------*/

.button:link,
.button:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 100px;
  transition: background-color 0.3s, border 0.3s, color 0.3s;
}

.full:link,
.full:visited {
  background-color: #009432;
  border: 1px soild #009432;
  color: rgb(255, 255, 255);
  margin-right: 15px;
}

.empty:link,
.empty:visited {
  border: 1px solid #009432;
  color: rgb(255, 255, 255);
}

.button:hover,
.button:active {
  background-color: #007227;
}

.full:hover,
.full:active {
  border: 2px soild #007227;
}

.empty:hover,
.empty:active {
  border: 2px solid #007227;
  color: rgb(255, 255, 255);
}

/*---------------PARAGRAPHS--------------*/
.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
  margin-bottom: 15px;
}

.box p {
  font-size: 90%;
  line-height: 145%;
}

/*------------------ICONS----------------*/
.icon {
  font-size: 325%;
  display: block;
  color: #009432;
  margin-bottom: 10px;
}

/*----------------------------------------/
/------------------HEADER-----------------/
/----------------------------------------*/
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0.699)),
    url(img/Background1.jpg);
  height: 100vh;
  background-size: contain;
  background-position: center;
}

.home-page {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  height: 100px;
  width: auto;
  float: left;
}

/*--------------MAIN NAVBAR--------------*/
.main-nav {
  float: right;
  list-style: none;
  margin-top: 35px;
}

.main-nav li {
  display: inline;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  color: white;
  padding: 5px 0;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  word-spacing: 4px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #007227;
}
