/*----------------------------------------/
/-----------                   -----------/
/----------------------------------------*/

/*----------                   ----------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: black;
  color: white;
  font-family: "lato", sans-serif, arial;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/*----------------------------------------/
/-----------REUSABLE COMPONENTS-----------/
/----------------------------------------*/

.row {
  max-width: 1140px;
  margin: 0 auto 0 auto;
}

section {
  padding: 80px 0;
}

.box {
  padding: 1%;
}

/*----------------HEADING----------------*/

h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1 {
  margin-bottom: 25px;
  color: rgb(255, 255, 255);
  font-size: 180%;
  word-spacing: 4px;
}

h2 {
  font-size: 130%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 25px;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #009432;
  content: " ";
  width: 350px;
  margin: 0 auto;
  margin-top: 30px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

/*----------------BUTTONS----------------*/

.button:link,
.button:visited,
input[type="submit"] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 100px;
  transition: background-color 0.3s, border 0.3s, color 0.3s;
}

.full:link,
.full:visited,
input[type="submit"] {
  background-color: #009432;
  border: 1px soild #009432;
  color: rgb(255, 255, 255);
  margin-right: 15px;
}

.empty:link,
.empty:visited {
  border: 1px solid #009432;
  color: rgb(255, 255, 255);
}

.button:hover,
.button:active,
input[type="submit"]:hover,
input[type="submit"]:active {
  background-color: #007227;
}

.full:hover,
.full:active,
input[type="submit"] {
  border: 2px soild #007227;
}

.empty:hover,
.empty:active {
  border: 2px solid #007227;
  color: rgb(255, 255, 255);
}

/*---------------PARAGRAPHS--------------*/

.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
  margin-bottom: 15px;
}

.box p {
  font-size: 90%;
  line-height: 145%;
}

/*------------------ICONS----------------*/

.icon-big {
  font-size: 325%;
  display: block;
  color: #009432;
  margin-bottom: 10px;
}

.icon-small {
  display: inline-block;
  width: 20px;
  text-align: center;
  font-size: 120%;
  color: #009432;
  line-height: 120%;
  vertical-align: middle;
  margin-top: -4px;
  margin-right: 5px;
}

/*------------------LINKS----------------*/

a:link,
a:visited {
  color: #009432;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #009432;
  transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
  color: white;
  border-bottom: 1px solid transparent;
}

/*----------------------------------------/
/------------------HEADER-----------------/
/----------------------------------------*/

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0.699)),
    url(img/Background1.jpg);
  height: 100vh;
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
}

.home-page {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo-white {
  height: 100px;
  width: auto;
  float: left;
}

.logo-black {
  display: none;
  height: 50px;
  width: auto;
  float: left;
}

/*--------------MAIN NAVBAR--------------*/

.main-nav {
  float: right;
  list-style: none;
  margin-top: 35px;
}

.main-nav li {
  display: inline;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  color: white;
  padding: 5px 0;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  word-spacing: 4px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #007227;
}

/*-------------STICKY NAVBAR-------------*/
.sticky-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.74);
  box-shadow: 0 2px 2px rgb(138, 138, 138);
}

.sticky-nav li a:link,
.sticky-nav li a:visited {
  color: rgb(0, 0, 0);
  padding: 15px 0;
}

.sticky-nav .logo-white {
  display: none;
}

.sticky-nav .logo-black {
  display: block;
}

.main-nav {
  margin-top: 15px;
}

/*----------------------------------------/
/------------------FEATURES---------------/
/----------------------------------------*/

.section-one long-copy {
  margin-bottom: 30px;
}

/*----------------------------------------/
/------------------GALLERY----------------/
/----------------------------------------*/

.section-two {
  padding: 0;
}

.gallery {
  list-style: none;
  width: 100%;
}
.gallery li {
  display: block;
  float: left;
  width: 25%;
}

.gallery-photo {
  width: 100%;
  margin-bottom: 0;
  overflow: hidden;
  background-color: black;
}

.gallery-photo img {
  opacity: 0.4;
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
}

.gallery-photo img:hover {
  opacity: 1;
  transform: scale(1.03);
}

/*----------------------------------------/
/---------------HOW IT WORKS--------------/
/----------------------------------------*/

.section-three {
  background-color: rgb(8, 8, 8);
}

.steps-box:first-child {
  text-align: right;
  padding-right: 3%;
  margin-top: 30px;
}

.steps-box:last-child {
  padding-left: 3%;
  margin-top: 70px;
}

.app-icon {
  width: 40%;
  border-radius: 15%;
  margin-top: 60px;
}

.steps {
  margin-bottom: 50px;
}

.steps:last-of-type {
  margin-bottom: 80px;
}

.steps div {
  color: #009432;
  border: 2px solid #009432;
  display: inline-block;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  text-align: center;
  padding: 5px;
  float: left;
  font-size: 150%;
  margin-right: 25px;
}

.app:link,
.app:visited {
  border-bottom: 0;
}

.app img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

/*----------------------------------------/
/------------------CITIES-----------------/
/----------------------------------------*/

.box img {
  height: auto;
  width: 100%;
  margin-bottom: 15px;
}

.cities {
  margin-bottom: 5px;
}

/*----------------------------------------/
/---------------TESTIMONIALS--------------/
/----------------------------------------*/

.section-five {
  background-image: linear-gradient(rgba(0, 0, 0, 0.705), rgba(0, 0, 0, 0.705)),
    url(/resources/css/img/Background2.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  background-attachment: fixed;
}

blockquote::before {
  content: "\0022";
  display: block;
  font-size: 500%;
  position: absolute;
  top: -5px;
  left: -10px;
}

blockquote {
  padding: 2%;
  font-style: italic;
  line-height: 145%;
  position: relative;
  margin-top: 40px;
}

cite {
  font-size: 90%;
  margin-top: 25px;
  display: block;
}

cite img {
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

/*----------------------------------------/
/-----------------SIGN UP-----------------/
/----------------------------------------*/

.section-six {
  background-color: rgb(8, 8, 8);
}

.plan-box {
  background-color: rgb(17, 17, 17);
  border-radius: 5px;
  width: 90%;
  margin-left: 5%;
  box-shadow: 0 3px 3px rgb(100, 100, 100);
}

.plan-box div {
  padding: 15px;
  border-bottom: 1px solid #00722849;
}

.plan-box div:first-child {
  background-color: rgb(27, 27, 27);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.plan-box div:last-child {
  text-align: center;
  border: none;
}

.plan-price {
  font-size: 300%;
  margin-bottom: 10px;
  font-weight: 100;
  color: #009432;
}

.plan-price span {
  font-size: 30%;
  font-weight: 300;
}

.plan-price-cost {
  font-size: 80%;
}

.plan-box ul {
  list-style: none;
}

.plan-box ul li {
  padding: 5px 0;
}

/*----------------------------------------/
/-----------------CONTACT-----------------/
/----------------------------------------*/

.form {
  width: 60%;
  margin: 0 auto;
}

input [type="text"],
input [type="email"],
select,
textarea {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #009432;
}

textarea {
  height: 100px;
}

input[type="checkbox"] {
  margin: 10px 5px 10px 0;
}

*:focus {
  outline: none;
}

/*----------------------------------------/
/-----------------FOOTER-----------------/
/----------------------------------------*/

footer {
  background-color: rgb(27, 27, 27);
  padding: 5px;
  font-size: 80%;
}

footer-nav {
  list-style: none;
  float: left;
}

.social-links {
  list-style: none;
  float: right;
}

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
  margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: rgba(0, 0, 0, 0.705);
  transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
  color: white;
}

.ion-social-twitch-outline,
.ion-social-instagram-outline,
.ion-social-linkedin-outline,
.ion-social-github-outline {
  font-size: 135%;
  transition: color 0.2s;
}

.ion-social-instagram-outline:hover {
  color: #4c68d7;
}

.ion-social-github-outline:hover {
  color: #ffffff;
}

.ion-social-twitch-outline:hover {
  color: #6441a5;
}

.ion-social-linkedin-outline:hover {
  color: #0077b5;
}

footer p {
  color: rgba(0, 0, 0, 0.705);
  text-align: center;
  margin-top: 50px;
}
